.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-container {
  text-align: center;
}

img {
  width: 80%;
  height: auto;
  text-align: center;
}

.insta-container {
  width: 25%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.right-side{
  margin-left: 20px;
}

.text {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}